---
---

@import 'normalize';
@import 'typish';

@import url('//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('//fonts.googleapis.com/css?family=Fira+Mono:400');
@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

$text: #555;
$black: #111;
$gray: #808890;
$accent: lighten(#1a8c9c, 10%);
$accent2: #808fc4;

html, body {
  min-height: 100%;
}

html {
  line-height: 1.6em;
  padding: 15px;

  @media (min-width: 769px) {
    padding: 70px;
    border: solid 40px rgba($accent2, 0.1);
  }

  font-family: source sans pro, sans-serif;
  background: white;
  color: $text; 

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 500px;

  @media (min-width: 769px) {
    margin-left: 18%;
  }
}

h1 {
  font-weight: 300;
  color: $black;

  sup {
    color: $accent;
    text-transform: uppercase;
    font-size: 0.4em;
    letter-spacing: 1px;
    font-weight: bold;

    border-radius: 3px;
    // border: solid 2px $accent2;
    padding: 1px 2px 1px 3px;

    position: relative;
    top: -1.2em;
    left: -2px;
  }
}

/*
 * Strapline
 */

.strap-line {
  font-size: 1.2em;
  margin-top: -8px;
  color: $accent;
}

/*
 * Code box
 */

.code-box {
  margin: 40px 0;

  @include typish-code;
  @include typish-cursor($color: #ddd, $width: 2px, $left: 2px, $speed: 500ms, $blinkontype: false, $top: -1px);
  font-family: fira mono, monaco, monospace;
  font-size: 10pt;
  line-height: 1.4;
  // padding: 30px;
  // border: solid 2px rgba($accent2, 0.2);
  // border-radius: 4px;
  height: 1.4em * 5;
  box-sizing: content-box;
}

.code-box {
  .sym { color: #aaa; }
  .sel { color: #aaa; }
  .prop { color: $accent; }
  .val { color: $accent2; }
  // .-hl { background: rgba(#fefee0, 0.5); }
  .-hl { box-shadow: inset 0 -3px white, inset 0 -10px rgba(#fefee0, 0.9); }
  a {
    text-decoration: none;
    box-shadow: inset 0 0 1px rgba($accent, 0.2);
    padding: 2px;
    border-radius: 4px;

    &:hover {
      box-shadow: inset 0 0 1px rgba($accent, 0.8);
    }
  }
}

hr {
  margin: 2em 0;
  display: block;
  height: 2px;
  opacity: 0.2;
  background: $accent2;
  border: 0;
}

@include typish-keyframes($duration: 30%, $fade: 15%);

.btn {
  display: inline-block;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  background: white;
  border: solid 1px $accent;
  color: $accent;
  cursor: pointer;
  transition: all 100ms linear;
  text-decoration: none;
  border-radius: 4px;

  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;

  &:hover, &:focus {
    background: $accent;
    color: white;
    border-color: transparent;
  }
}

h3 {
  margin-top: 2em;

  @media (min-width: 769px) { /* tablet, desktop */
    margin-top: 10em;
  }

  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 1px;
  color: $black;
}

h3 + p {
  margin-top: 0.3em;
}


code {
  background: #fdfdfd;
  padding: 3px 6px;
  margin: 0 2px;
  border-radius: 2px;
  box-shadow: inset 0 0 1px rgba($accent, 0.05);
  font-size: 0.8em;
  font-family: source sans pro, sans-serif;
}

.action-bar {
  margin-bottom: 2em;

  @media (min-width: 769px) {
    position: fixed;
    right: 90px;
    top: 70px;
  }
}

.main-logo {
  display: block;
  margin-bottom: 3em;

  @media (max-width: 992px) { /* mobile */
    display: none;
  }

  &:before {
    font-family: ionicons;
    content: "\f3cd";

    margin-top: 30px;
    font-size: 100px;
    color: $accent;
    opacity: 0.5;
    font-weight: 300;
    display: inline-block;
  }
}
